.name{:style=>"width:200px;line-height:50px;float:left;clear:left;"}!=mission.name
.success{:style=>"float:left;"}
  %img{ :width=>50,:src => mission.success? ? "/images/happy_bear.png" : "/images/sad_bear.png" }
